<div class="container-fluid">

  <br>
  <div class="row">
    <p-card class="col-md-6" header="Consommation Poste" subheader="2020" styleClass="p-card-shadow">
      <div class="card">
        <h5>Consommation</h5>
        <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
      </div>
    </p-card>
    <p-card class="col-md-6" header="Consommation clients" subheader="2020" styleClass="p-card-shadow">
      <div class="card">
        <h5>Consommation</h5>
        <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
      </div>
    </p-card>
  </div>

</div>
